body {
    background: #121212;
    color: #fff;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    border: 2px solid red;
}
input {
    outline: none
}
.spinner {
    animation: loading 0.5s linear infinite;
}
.user_duplicate:nth-child(1) {
    display: none
}

@keyframes loading {
    100% {
        transform: rotateZ(360deg);
    }
}